<li>
    <div class="collapsible-header employee-list-name employee-content-cap">{{ this.FullName }}</div>
    <div class="collapsible-body employee-list-info">
        <div class="row">
            <div class="section col s4">
                <i class="material-icons profile-pic">account_box</i>
            </div>
            <div class="section col s7 right">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <strong>Status </strong><span class="employee-content-cap right">{{  this.Status  }}</span>
                    </li>
                    <li class="collection-header">
                        <strong>Role </strong><span class="employee-content-cap right">{{  this.Role  }}</span>
                    </li>
                    <li class="collection-header">
                        <strong>Position Type </strong><span class="employee-content-up right">{{  this.PositionType  }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="section">
                <h5 class="weekly-avail-header"><i class="material-icons small">access_time</i> This Week</h5>
                <ul class="collection with-header">
                    <li class="collection-item">
                        <span class="day-partial">Sunday </span><span
                            class="right time-partial">{{ this.Availability.Sunday }}</span>
                    </li>
                    <li class="collection-item">
                        <span class="day-partial ">Monday </span><span
                            class="right time-partial">{{ this.Availability.Monday }}</span>
                    </li>
                    <li class="collection-item">
                        <span class="day-partial">Tuesday </span><span
                            class="right time-partial">{{ this.Availability.Tuesday }}</span>
                    </li>
                    <li class="collection-item">
                        <span class="day-partial">Wednesday </span><span
                            class="right time-partial">{{ this.Availability.Wednesday }}</span>
                    </li>
                    <li class="collection-item">
                        <span class="day-partial">Thursday </span><span
                            class="right time-partial">{{ this.Availability.Thursday }}</span>
                    </li>
                    <li class="collection-item">
                        <span class="day-partial">Friday </span><span
                            class="right time-partial">{{ this.Availability.Friday }}</span>
                    </li>
                    <li class="collection-item">
                        <span class="day-partial">Saturday </span><span
                            class="right time-partial">{{ this.Availability.Saturday }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <p class="contact">Contact Me</p>
            <span>Email: <a href="">{{ this.Email }}</a></span><br>
        </div>
    </div>
</li>