<li>
    <div class="collapsible-header employee-list-name">{{ name }}</div>
    <div class="collapsible-body employee-list-info">
        <strong>Location</strong><br>
        <span>Location Number: </span><span>{{ locationNum }}</span><br>
        <span>Company Number: </span><span>{{ companyNum }}</span><br>
        <span>Address: </span><span>{{ address }}</span><br>
        <span>City: </span><span>{{ city }}</span><span>State: </span><span>{{ state }}</span><br>

        <strong>Hours</strong><br>
        <span>{{ openingTime }}</span><span>{{ closingTime }}</span><br><br>
    </div>
</li>