<li>
    <div class="collapsible-header altdark-mint-btn location-list-name">Shift: {{ this.shiftnum }}</div>
    <div class="collapsible-body location-list-info">
        <div id="shift1">
            <p class="white-text">Shift {{ this.shiftnum }} </p>
            <div class="row">
                <div class="col s4 offset-s2">
                    <div class="row">
                        <p class="white-text">Shift Starts at:</p>
                        <div class="input-field col s6">
                            <select id="shift-start-hr-{{this.shiftnum}}" class="schedule-shift-start-hr front">
                                <option value="" disable selected>Hour</option>
                                <option value="00">12am</option>
                                <option value="1">1am</option>
                                <option value="2">2am</option>
                                <option value="3">3am</option>
                                <option value="4">4am</option>
                                <option value="5">5am</option>
                                <option value="6">6am</option>
                                <option value="7">7am</option>
                                <option value="8">8am</option>
                                <option value="9">9am</option>
                                <option value="10">10am</option>
                                <option value="11">11am</option>
                                <option value="12">12pm</option>
                                <option value="13">1pm</option>
                                <option value="14">2pm</option>
                                <option value="15">3pm</option>
                                <option value="16">4pm</option>
                                <option value="17">5pm</option>
                                <option value="18">6pm</option>
                                <option value="19">7pm</option>
                                <option value="20">8pm</option>
                                <option value="21">9pm</option>
                                <option value="22">10pm</option>
                                <option value="23">11pm</option>
                            </select>
                        </div>
                        <div class="input-field col s6">
                            <select id="shift-start-min-{{this.shiftnum}}" class="schedule-shift-start-min front">
                                <option value="" disable selected>minutes </option>
                                <option value="00">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s4">
                        <p class="white-text">Shift Ends at:</p>
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="shift-end-hr-{{this.shiftnum}}" class="schedule-shift-end-hr front">
                                    <option value="" disable selected>Hour</option>
                                    <option value="00">12am</option>
                                    <option value="1">1am</option>
                                    <option value="2">2am</option>
                                    <option value="3">3am</option>
                                    <option value="4">4am</option>
                                    <option value="5">5am</option>
                                    <option value="6">6am</option>
                                    <option value="7">7am</option>
                                    <option value="8">8am</option>
                                    <option value="9">9am</option>
                                    <option value="10">10am</option>
                                    <option value="11">11am</option>
                                    <option value="12">12pm</option>
                                    <option value="13">1pm</option>
                                    <option value="14">2pm</option>
                                    <option value="15">3pm</option>
                                    <option value="16">4pm</option>
                                    <option value="17">5pm</option>
                                    <option value="18">6pm</option>
                                    <option value="19">7pm</option>
                                    <option value="20">8pm</option>
                                    <option value="21">9pm</option>
                                    <option value="22">10pm</option>
                                    <option value="23">11pm</option>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <select id="shift-end-min-{{this.shiftnum}}" class="schedule-shift-end-min front">
                                    <option value="" disable selected>minutes </option>
                                    <option value="00">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s8 offset-s2">
                    <p class="white-text">Number Of Employees Needed:</p>
                    <input class="schedule-numofemployees" id="numOfEmployees{{this.shiftnum}}" type="text">
                    <label for="numOfEmployees"># Of Employees</label>
                </div>
            </div>
        </div>
    </div>
</li>